h1 {
	font-family: 'Lobster', cursive;
    color: #FA4C0C;
	background-color: white;
	text-align: center;
	border: 5px;
	border-style: outset;
	margin-left:20%;
	margin-right: 20%;
	padding-bottom:2%;
	padding-top:2%;
}

a{
	color:#198AA4;
}


body {
	font-size: 24px;
	background-color:#00FFFF;
}

#tab{
	display:inline-block;
	margin-left:50px;
}

#maincontent{
	color: #2E61EB;
	margin-left:160px;
	margin-right:60px;
	margin-top:50px;
}

.centertext{
	text-align:center;
}

.centerimg{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

nav ul{
	font-size:70%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:160px;
	background-color:#FFFFFF;
	position:fixed;
	height:100%;
	top:0;
	left:0;
}

nav ul li a{
	display:block;
	text-decoration:none;
	color:#000000;
	padding:8px 0 8px 16px;

}

nav ul li a:hover{
	background-color:#1C1C1C;
	color:#FFFFFF;
	transition:0.8s;
}

.active{
	background-color:#04B431;
	color:#FFFFFF;
}

img{
	max-width:100%;
	height:auto;
}

@media screen and (max-width: 600px){
	nav ul{
		font-size:70%;
		list-style-type:none;
		margin:0;
		padding:0;
		width:100%;
		background-color:#FFFFFF;
		position:fixed;
		top:0;
		left:0;
		height:auto;
		transition:0.5s;
	}
	
	nav ul li{
		float:left;
	}

	nav ul li a{
		display:block;
		text-decoration:none;
		color:#000000;
		padding:8px 16px 8px 16px;
	}

	nav ul li a:hover{
		background-color:#1C1C1C;
		color:#FFFFFF;
	}
	#maincontent{
		margin-left:5%;
		margin-right:5%;
		padding-top:5%;
	}
}

@media screen and (image-width: 100px){
	img{
	width:200%;
	height:auto;
	}
}