h1 {
	font-family: 'Lobster', cursive;
    color: #FA4C0C;
	background-color: white;
	text-align: center;
	border: 5px;
	border-style: outset;
	margin-left:200px;
	margin-right: 200px;
	padding-bottom:10px;
	padding-top:10px;
}

a{
	color:#198AA4;
}


body {
	font-size: 24px;
	background-color:#00FFFF;
}

#maincontent{
	color: #2E61EB;
	margin-left:60px;
	margin-right:60px;
}

.centerme{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	width:200px;
	background-color:#2E61EB;
}

li a{
	display:block;
	color:#00FFFF;
	padding:8px 0 8px 16px
}

li a:hover{
	background-color:#038B92;
}
